body {
  background-color: rgb(235, 236, 247);
  letter-spacing: 0.5px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App .navbar {
  background-color: #f72f2f;
}

.App .navbar .navbar-brand {
  font-size: 25px;
  font-weight: 800;
  margin: 1% 2%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0;
}

.App .navbar .nav-item {
  font-size: 20px;
  font-weight: 600;
  margin: 0.3rem;
}

.App .navbar .nav-item .nav-link {
  color: white;
}

.App .navbar .nav-item .nav-link:hover {
  color: wheat;
}

.App .logout {
  background-color: #f72f2f;
  color: white;
}

.App .logout:hover {
  background-color: white;
  color: #f72f2f;
}

.App .createTask {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 50%;
  padding: 3% 10%;
  border-radius: 10px;
  background-color: #96b8fb;
}

.App .login {
  margin-top: 2%;
  margin-bottom: 5%;
  border: 0.5px solid wheat;
  width: 30%;
  padding: 3%;
  border-radius: 10px;
  background-color: #96b8fb;
}

.App .signup {
  margin-top: 2%;
  margin-bottom: 5%;
  border: 0.5px solid wheat;
  width: 50%;
  padding: 3% 10%;
  border-radius: 10px;
  background-color: #96b8fb;
}

.App .profile {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 8%;
  width: 30%;
  padding: 3%;
  border-radius: 10px;
  background-color: #96b8fb;
}

.App .teams {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 30%;
  padding: 3%;
  border-radius: 10px;
  background-color: #96b8fb;
}

.App #footer {
  background-color: #f72f2f;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media screen and (max-width: 768px) {}